{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>カテゴリを選択</title>
</head>
<body>
<!-- select_category.html -->

    <h1>カテゴリを選択してください</h1>
    <ul>
        {% for value, label in categories %}
            <li><a href="{% url 'create_facility' %}?category={{ value }}">{{ label }}</a></li>
        {% endfor %}
    </ul> 


</body>
</html>
